Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
mikado-*.pc
.deps
.libs
mikado/config.h
mikado/config.h.in
*~
*.lo
*.o
*.la
mikado/stamp-h1
missing
mikado/mikado-version.h
src/mikado
*.tar.gz
prototypes/graph-layout/run
prototypes/gegl-stuff/run
